<div class="row">
  <div class="col-md-10 col-md-offset-1 center">
		<div class="jumbotron">
			<h2>
				GO BLUE!
			</h2>
			<p>
				Let's give the world a little more Blue!
			</p>
			<p>
				<a class="btn btn-primary btn-large" href="#">Learn more</a>
			</p>
		</div>
	</div>
</div>
